@tailwind base;
@tailwind components;
@tailwind utilities;

.fadein {
  position: relative;
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.hidescroll::-webkit-scrollbar {
  display: none;
}
